body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
header {
    background-color: #4d1979;
    color: white;
    border-radius: 20px;
}
header img {
    max-width: 50%;
    float: right;
}
main {
    background-color: white;
    color: #4d1979;
}
h1 {
    background-color: #4d1979;
    color: white;
}
ul li {
    list-style: none;
}
ul li a {
    display: block;
    padding: .5rem 1rem;
}
footer {
    background-color: #4d1979;
    color: white;
    text-align: center;
    border-radius: 20px;
}