header {
    background-color: #4d1979;
    color: white;
}
main {
    background-color: white;
    color: #4d1979;
}
h1 {
    background-color: #4d1979;
    color: white;
}
ul li {
    
}
ul li a {
    display: block;
    padding: .rem 1rem;
    background-color: #000000;
}
img {
    float: right;
}
footer {
    background-color: #4d1979;
    color: white;
    text-align: center;
}