body {
    padding: 1em;
}

header {
    background-color: #2b0e44;
    color: white;
}

h1, h2 {
    font-family: 'Yusei Magic', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

.part1, .part2, .part3 {
    background-color: #f5eefc;
    padding: 1em;
}

h3 {
    font-family: 'Yusei Magic', sans-serif;
    background-color: #4d1979;
    color: white;
}

p {
    font-family: 'Poppins', sans-serif;
}