/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    
    figure.articlephoto {
        float: right;
    }

    section.forecast {
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }
    
} /*end medium */