/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    .articlegrid {
    
    }
    
    .articlegrid p {
        text-align: left;
    }
    
    .articlegrid img {
        max-width: 450px;
        width: 100%;
        height: auto;
        align-content: space-around;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    
} /*end medium */
