/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    
    figure.articlephoto {
        float: right;
    }

    figure.map {
        float: right;
        margin: 0 0 0 2%;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }
    
} /*end medium */
