html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

header {
    padding: .5rem 2%;
    background-color: #7180b9;
    color: white;
}

header img {float: left; margin-right: 10px; width: 50px;}
header h1 {margin: 0; font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

nav {
    background-color: #7180b9;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #dff3e4;
    color: #171738;
}

nav ul li.active a {
    background-color: #171738;
    color: #fff;
}

main {
    padding: 0 2%;
    min-height: 10rem;
}

.typography {
    font-family: 'Secular One', sans-serif;
}

.typography_2 {
    font-family: 'Cinzel', serif;
}

footer {
    background-color: #7180b9;
    color: white;
    padding: .5rem 2%;
    text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}